ion-content {
  --background: #f6f6f1;
}


.wave-container {
  position: relative;
  color: var(--ion-color-primary);
  text-align: center;
  overflow: hidden;

  background: #ffffff;

  img {
    margin-bottom: 2rem;
  }

}

.wave-container > svg {
  display: block;
}


h1 {
  font-size: 20px;
  margin: 2rem auto;
}

ion-footer {
  ion-toolbar {
    --background: rgba(0,0,0,0);
    ion-title {
      font-size: 12px;
    }
  }
}
